<nav [ngClass]="{ scrolled: isScrolled() }">
  <div class="nav-inner">
    <a class="logo" routerLink="/">ft<span>.</span></a>
    <ul class="nav-links">
      <li><a (click)="scrollTo($event, 'proyectos')">proyectos</a></li>
      <li><a (click)="scrollTo($event, 'skills')">skills</a></li>
      <li><a (click)="scrollTo($event, 'educacion')">educación</a></li>
      <li><a (click)="scrollTo($event, 'contacto')">contacto</a></li>
    </ul>
    
      <a href="CV-Federico-Tripicchio.pdf"
      download="CV-Federico-Tripicchio.pdf"
      class="nav-cta mobile-only"
    >Descargar CV ↓</a>
  </div>
</nav>